<div class="row">
  <center>

<h3>What kind of Burger are you craving?</h3>

{{!-- Current and added burger table --}}
<br>
{{#each burgers}}
          {{#unless devoured}}
          <form action="burgers/{{id}}" method="POST">
            <div class="input-burger">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-burger-btn">
                  <button class="btn btn-success devoured-button" type="success">Add to list!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

{{!-- Devour side --}}


{{#each burgers}}
{{#if this.devoured}}

<div class="input-burger">
    <li class"form-control">{{this.id}}. {{this.burger_name}}</li>

    <span class="input-burger-btn">
        <button class="btn btn-info eat-button" type="submit">Devour it</button>
    </span>
</div>

{{/if}}
{{/each}}
</div>
</center>
</div>
